{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Registration{% endblock title %}

{% block navelement %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'upcoming' %}">Upcomings</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li id="bar_cart"><a href="{% url 'showcart' %}"><i class="fas fa-cart-plus">&nbsp;</i>Cart</a></li>
      <a href="#" id="cross"><i class="fas fa-times"></i></a>
 
{% endblock navelement %}

{% block navelementlast %}
<ul id="nav">
  <li><a href="{% url 'login' %}">Login</a></li>
  <li><a class="active" href="{% url 'customerregistration' %}">Registration</a></li>
</ul>
{% endblock navelementlast %}


{% block main-content %}
  
<section>
    <br>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card shadow p-5">
                    <div class="card-header">
                        <h2 class="text-center">Customer Registration</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for fm in form %}
                                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                            {% endfor %}

                            <center><button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i>Register</button></center><br>

                            <div class="text-center text-primary fw-bold">
                                <small>Already Having Account ? <a href="{% url 'login' %}" class="text-danger">Login Now</a></small>
                            </div>

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-danger my-3">{{error}}</p>
                                {% endfor %}
                            {% endif%}

                            {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-{{msg.tags}}" role="alert">
                                    {{msg}}
                                </div>
                            {% endfor %}
                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
</section>

{% endblock main-content %}