{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}


{% block navelement %}

    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'upcoming' %}">Upcomings</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li id="bar_cart"><a href="{% url 'showcart' %}"><i class="fas fa-cart-plus">&nbsp;</i>Cart</a></li>
      <a href="#" id="cross"><i class="fas fa-times"></i></a>

{% endblock navelement %}

{% block navelementlast %}
<ul id="nav">
  <li><a href="{% url 'login' %}">Login</a></li>
  <li><a href="{% url 'customerregistration' %}">Registration</a></li>
</ul>
{% endblock navelementlast %}


{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome <span class="text-capitalize">{{request.user.username|capfirst}}</span></h3>
            <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary">Change Password Done</a></li>
            </ul>
            </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Yoy Successfully Changed Your Password!</h3>
            <div>
                <iframe src="https://giphy.com/embed/llHw90vf8uzu4I1gVI" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
        </div>
    </div>
{% endblock main-content %}

